# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Don't use tabs for indentation.
[*]
indent_style = space
# (Please don't specify an indent_size here; that has too many unintended consequences.)

# JSON files
[*.json]
indent_size = 2

# Shell script files
[*.sh]
end_of_line = lf
indent_size = 2